@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

.board-row {
  display: grid-cols-3 gap-2;
}
